.header {
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  box-shadow: 0px 4px 4px 2px #0000006a;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  justify-self: center;
  color: var(--mantine-color-red-6);
  &:hover {
    color: var(--mantine-color-red-9);
  }

  &:hover .icons{
    filter: invert(18%) sepia(78%) saturate(1990%) hue-rotate(339deg) brightness(120%) contrast(100%);
  }
}

.icons{
  filter: invert(59%) sepia(36%) saturate(6026%) hue-rotate(324deg) brightness(115%) contrast(114%);
  
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-right: 1%;
}
