.register-card {
    min-width: 300px;
    width: 80%;
    height: 90%;
    overflow-y: auto;
    padding-top: 0;
}

fieldset legend, .mantine-Fieldset-legend, .mantine-InputWrapper-label {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 16px;
}

.address input {
    min-width: 300px
}

.registration-section {
    padding-top: 10px;
}

.mantine-InputWrapper-description {
    font-size: 14px;
    color: black;
}

.question-section {
    margin-bottom: 10px;
}

.subsection-title {
    margin-top: 40px;
}
