html, body {
  /* Prevent the 'bounce' and ensure the background fills the screen */
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.page {
  /* Change: Use min-height: 100% instead of 100vh */
  /* Change: Remove 'overflow-y: auto' if it was there */
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  padding-bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(135deg, rgba(3, 81, 112, 1) 13%, rgba(240, 78, 99, 1) 50%, rgba(76, 197, 220, 1) 87%);
  background-attachment: fixed; /* Keeps the gradient from moving as you scroll */
}

.box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 0px;
    box-shadow: 0px 4px 4px 2px #0000006a;
    justify-self: top;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 500px;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-right: 0px;
    box-shadow: 0px 4px 4px 2px #0000006a;
}

.time-grid {
    width: auto;
    min-height: 500px;

    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-left: 0px;
    box-shadow: 0px 4px 4px 2px #0000006a;
}

.booking-button {
    position: absolute;
    bottom: 30px;
    right: 35px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-link-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}