.top-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linear-gradient {
    background-image: linear-gradient(to bottom right, #49C6DD 13%, #005070 50%, #F24C62 87%);
}

.card {
   display: flex;
   gap: 15px;
}